name: 'Build and Push Docker Image'
description: |
  This workflow runs on every release.
  It builds and publishes a new Docker image and pushes that image to the GitHub Container Registry (ghcr.io)

on:
  release:
    types: 
      - created

env:
  IMAGE_NAME: 'ollama-mcp-bridge'

jobs:
  define-matrix:
    name: 'Define matrix'
    runs-on: ubuntu-latest
    steps:
      - name: 'Set Matrix'
        id: matrix
        run: |
          echo "matrix=$(cat <<'EOF' | jq -c .
            [
              {
                "arch": "amd64",
                "os": "ubuntu-22.04",
                "platform": "linux/amd64"
              },
              {
                "arch": "arm64",
                "os": "ubuntu-22.04-arm",
                "platform": "linux/arm64"
              }
            ]
          EOF)" >> "$GITHUB_OUTPUT"
    
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}

  build-and-push:
    name: 'Build ${{ matrix.arch }}'
    needs: [define-matrix]
    strategy:
      matrix:
        include: ${{ fromJSON(needs.define-matrix.outputs.matrix) }}

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
      
      - name: 'Docker login'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Docker metadata'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            sha-${{ github.sha }}
            ${{ github.event.release.tag_name }}
            latest

      - name: 'Build and push image'
        run: |
          IMAGE="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}"
          
          docker buildx build \
            --platform "${{ matrix.platform }}" \
            --label "${{ steps.meta.outputs.labels }}" \
            -t "${IMAGE}:${{ github.sha }}-${{ matrix.arch }}" \
            -t "${IMAGE}:${{ github.event.release.tag_name }}-${{ matrix.arch }}" \
            --push \
            .
          
    outputs:
      matrix: ${{ needs.define-matrix.outputs.matrix }}
      
  create-manifest:
    needs: [build-and-push]
    runs-on: ubuntu-22.04
    steps:
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Create Multi-Arch Manifest
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}
          
          MATRIX_JSON='${{ needs.build-and-push.outputs.matrix }}'

          ARCHS=($(echo "$MATRIX_JSON" | jq -r '.[].arch'))
          
          image_list=""
          for arch in "${ARCHS[@]}"; do
            image_list="$image_list $IMAGE:${{ github.event.release.tag_name }}-$arch"
          done
          image_list=$(echo $image_list | xargs)

          echo "\"$image_list\""
          
          docker buildx imagetools create -t $IMAGE:${{ github.event.release.tag_name }} $image_list
          docker buildx imagetools create -t $IMAGE:latest $image_list
    
    outputs:
      matrix: ${{ needs.build-and-push.outputs.matrix }}
      
  verify-manifest:
    name: 'Verify Manifest'
    runs-on: ubuntu-latest
    needs: [create-manifest]

    steps:
      - name: 'Verify'
        run: |
          MATRIX_JSON='${{ needs.create-manifest.outputs.matrix }}'
          
          ARCHS=($(echo "$MATRIX_JSON" | jq -r '.[].arch'))
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}:latest
          OUTPUT=$(docker buildx imagetools inspect $IMAGE)
          
          echo "$OUTPUT"
          
          for arch in "${ARCHS[@]}"; do
            if ! echo "$OUTPUT" | grep -q "$arch"; then
              echo -e "\x1b[1;31mPlatform $arch is missing in manifest."
              exit 1
            fi
          done
          
          echo -e "\x1b[1;32mAll expected platforms found in manifest."
