name: 'Build and Push Docker Image'
description: |
  This workflow runs on every release.
  It builds and publishes a new Docker image and pushes that image to the GitHub Container Registry (ghcr.io)

on:
  release:
    types: 
      - created

env:
  IMAGE_NAME: 'ollama-mcp-bridge'

jobs:
  build-and-push:
    name: 'Build ${{ matrix.arch }}'
    strategy:
      matrix:
        include:
          - arch: amd64
            os: ubuntu-22.04
            platform: linux/amd64
          - arch: arm64
            os: ubuntu-22.04-arm
            platform: linux/arm64

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
      
      - name: 'Docker login'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and push image'
        run: |
          docker buildx build \
            --platform ${{ matrix.platform }} \
            -t ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}:${{ github.sha }}-${{ matrix.arch }} \
            -t ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}:${{ github.event.release.tag_name }}-${{ matrix.arch }} \
            --push .
      
      - name: 'Set image arch'
        id: set-image-arch
        run: |
          echo "image_arch=${{ matrix.arch }}" >> $GITHUB_OUTPUT
          
    outputs:
      image-arch: ${{ steps.set-image-arch.outputs.image_arch }}
      
  create-manifest:
    needs: [build-and-push]
    runs-on: ubuntu-22.04
    steps:
      - name: 'Docker login'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Create Multi-Arch Manifest'
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}

          ARCHS=("${{ needs.build-and-push.outputs.image-arch }}")

          IFS=',' read -r -a ARCH_ARRAY <<< "$ARCHS"

          IMAGE_LIST=""
          for arch in "${ARCH_ARRAY[@]}"; do
            IMAGE_LIST="$IMAGE_LIST $IMAGE:${{ github.event.release.tag_name }}-$arch"
          done

          docker buildx imagetools create -t $IMAGE:${{ github.event.release.tag_name }} $IMAGE_LIST
          docker buildx imagetools create -t $IMAGE:latest $IMAGE_LIST
          
  verify:
    name: 'Verify Multi-Arch Image'
    needs: [create-manifest]
    runs-on: ubuntu-22.04
    steps:
      - name: 'Inspect latest manifest'
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}:latest
          docker buildx imagetools inspect $IMAGE
