name: 'Build and Push Docker Image'
description: |
  This workflow runs on every release.
  It builds and publishes a new Docker image and pushes that image to the GitHub Container Registry (ghcr.io)

on:
  release:
    types: 
      - created

env:
  IMAGE_NAME: 'ollama-mcp-bridge'

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: amd64
            os: ubuntu-22.04
            platform: linux/amd64
          - arch: arm64
            os: ubuntu-22.04-arm
            platform: linux/arm64

    name: 'Build ${{ matrix.arch }}'
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Docker registry login'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=ref,event=tag
            type=raw,value=latest

      - name: Build & Push arch image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ${{ steps.meta.outputs.tags }}-${{ matrix.arch }}

  manifest:
    name: 'Manifest'
    needs: [build]
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      packages: write

    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=ref,event=tag
            type=raw,value=latest

      - name: Create and push manifests
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}

          for TAG in ${{ steps.meta.outputs.version }} latest; do
            docker manifest create $IMAGE:$TAG \
              --amend $IMAGE:$TAG-amd64 \
              --amend $IMAGE:$TAG-arm64

            docker manifest push $IMAGE:$TAG
          done

  verify:
    name: 'Verify'
    needs: [manifest]
    runs-on: ubuntu-22.04

    steps:
      - name: 'Inspect latest manifest'
        run: |
          IMAGE=ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${IMAGE_NAME}:latest
          docker buildx imagetools inspect $IMAGE
